<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="txt_Memo.AutoSize" value="True" />
		<add key="" value="True" />
	</appSettings>
</configuration>